.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px violet;
}

body
{
background-repeat: no-repeat;
background-size: cover;
}

.heading_div
{
    float: none;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px aqua;
}

.heading_div2
{
    font-size: 18px;
}

.resultPTag
{
    box-shadow: 5px 5px 5px mediumaquamarine;
    font-size: 20px;
}

.footer
{
    position: fixed;
    color: mediumorchid;
    background-color: lightpink;
    bottom: 0;
    width: 100%;
    line-height: 3;
    text-align: center;
}

canvas
{
border: 5px solid mintcream;
border-radius: 20px;
box-shadow: 5px 5px 5px lightblue;
margin-top: 100px;
}